
language: csharp

dist: bionic

dotnet: 3.1

env:
    - FrameworkPathOverride=/usr/lib/mono/4.5/

before_install:
    - wget -qO - http://packages.lunarg.com/lunarg-signing-key-pub.asc | sudo apt-key add -
    - sudo wget -qO /etc/apt/sources.list.d/lunarg-vulkan-bionic.list https://packages.lunarg.com/vulkan/lunarg-vulkan-bionic.list
    - sudo apt -qq update
    - sudo apt -y install vulkan-sdk

script:
    - dotnet build /p:Configuration=ReleaseSpirVTasks
    - dotnet build /p:Configuration=Release

